language: php

php:
  - "5.4"
  - "5.3"

notifications:
  irc: "irc.freenode.net#orchestra-platform"

before_install:
  - cd ../../
  - git clone git://github.com/laravel/laravel.git
  - mv ./codenitive/laravel-hybrid ./laravel/bundles/hybrid
  - echo "<?php return array('hybrid' => array('auto' => true));" > ./laravel/application/bundles.php
  - cd ./laravel

script: "phpunit --coverage-text --configuration bundles/hybrid/tests/travis/phpunit.xml"